.container {
    margin-top: 5rem;
    margin-bottom: 3rem;
    color: #000; 
}

.containerProducts {
    display: grid;
    gap: 1rem;
    align-items: center;
    width: 80vw;       
}

.loadingMessage {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 4px;
}

.sizeRows {
    margin-bottom: 4px;
}

.sizeRows > label {
    font-size: 1.25rem;
    font-weight: 700;
    margin-right: 5px;
}

.sizeRows > select {
    padding: 4px 11px;
    font-size: 1.1rem;
}

.sizeRows > select:focus {
    outline: none;
} 